'editor':
  'fontSize': 15
  'showInvisibles': true
  'softWrap': true
'core':
  'excludeVcsIgnoredPaths': true
'exception-reporting':
  'userId': '2e1f2aa3-a554-8e91-25c2-5c463ce679fa'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'b832666770086ac438f048fa92e90bcc4b7fd383'
'tree-view':
  'hideVcsIgnoredFiles': true
  'hideIgnoredNames': true
