# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
'.source.js':
  'assert.equal':
    'prefix': 'a'
    'body': """
      assert.equal($1, $2);$3
    """
  'describe':
    'prefix': 'd'
    'body': """
      describe('$1', function () {
        $2
      });
    """
  'it':
    'prefix': 'it'
    'body': """
      it('$1', function ($2) {
        $3
      });$4
    """
  'require':
    'prefix': 'r'
    'body': """
      require('$1');$2
    """
'.source.ruby':
  'require':
    'prefix': 'req'
    'body': """
      require '$1'
    """
  'describe':
    'prefix': 'd'
    'body': """
      describe '$1' do
        $2
      end
    """
  'it':
    'prefix': 'it'
    'body': """
      it '$1' do
        $2
      end
    """
  'let':
    'prefix': 'l'
    'body': """
      let(:$1) do
        $2
      end
      $3
    """
  'before':
    'prefix': 'b'
    'body': """
      before do
        $2
      end
      $3
    """
  'do':
    'prefix': 'do'
    'body': """
      do
        $1
      end
    """
  'context':
    'prefix': 'c'
    'body': """
      context '$1' do
        $2
      end
    """
  'pry':
    'prefix': 'pry'
    'body': """
      require 'pry'; binding.pry
    """
  'module':
    'prefix': 'm'
    'body': """
      module $1
    """
