[user]
  name = Ryo Nakamura

[include]
  path = .gitconfig.local

[github]
  user = r7kamura

[color]
  diff        = auto
  grep        = auto
  branch      = auto
  status      = auto
  interactive = auto

[merge]
  ff = false # from 1.7.6

[pull]
  rebase = true # from 1.7.9

[push]
  default = current

[core]
  autocrlf     = input
  quotepath    = false
  excludesfile = ~/.gitexcludes

[branch]
  quotepath       = true
  autosetuprebase = always

[alias]
  st = status
  sh = show
  so = remote show origin
  ft = fetch
  rb = rebase master
  ad = add
  mm = commit
  co = checkout

  br = branch
  bm = branch --merged
  bn = branch --no-merged

  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u }; $EDITOR `f`"
  add-unmerged  = "!f() { git ls-files --unmerged | cut -f2 | sort -u }; git add `f`"
