[user]
  name = Ryo NAKAMURA
  email = r7kamura@gmail.com

[github]
  user = r7kamura
  token = !cat .githubtoken

[color]
  diff        = auto
  grep        = auto
  branch      = auto
  status      = auto
  interactive = auto

[push]
  default = current

[core]
  autocrlf     = input
  quotepath    = false
  excludesfile = ~/.gitexcludes

[branch]
  quotepath       = true
  autosetuprebase = always

[alias]
  st = status
  sh = show
  so = remote show origin
  ft = fetch
  rb = rebase master
  ad = add
  ci = commit -a
  co = checkout

  br = branch
  bm = branch --merged
  bn = branch --no-merged

  ls = log --stat
  lp = log -p
  la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
  lr = log origin
  lg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  ll = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  ra = shortlog -s -n --no-merges

  dm = diff master
  dw = diff --color-words
  dc = diff --cached
  d1 = diff HEAD~1
  d2 = diff HEAD~2
  d3 = diff HEAD~3
  d4 = diff HEAD~4
  d5 = diff HEAD~5

  # use in conflict
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; $EDITOR `f`"
  add-unmerged  = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

  gr = grep
  gn = grep -n
