snippet def
	def ${1:name}
		${2}
	end
snippet {
	{ |${1}| ${2} }${3}
snippet do
	do${1}
		${2}
	end
snippet m
	module ${1:ModuleName}
		${2}
	end
snippet p
	require "pry"; binding.pry
snippet ap
	require "awesome_print"; ap ${1}
snippet it
	it "${1}" do
		${2}
	end
snippet d
	describe "${1}" do
		${2}
	end
snippet c
	context "${1}"
		${2}
	end
snippet u
	# coding: UTF-8
